.currentWeather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
}

.city {
  font-size: 55px;
}

.current-weather-image {
  width: 200px;
  height: 200px;
}

.cityDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.currentDate {
  font-size: 30px;
}

.weatherDescription {
  font-size: 30px;
}

.cityDetailsRightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Mobile Devices */
@media (max-width: 767px) {
  .currentWeather {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .city {
    font-size: 40px;
    text-align: center;
  }
  .cityDetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .cityDetailsRightSide {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  .rightSide {
    font-size: 100px;
    text-align: center;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .currentWeather {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .city {
    font-size: 40px;
    text-align: center;
  }
  .currentDate {
    font-size: 20px;
  }
  .weatherDescription {
    font-size: 25px;
  }
  .cityDetails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .cityDetailsRightSide {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  .rightSide {
    font-size: 80px;
    text-align: center;
    margin-top: 20px;
  }
  .current-weather-image {
    width: 150px;
    height: 150px;
  }
}
/*# sourceMappingURL=CurrentWeather.css.map */