.currentWeather {
    display: flex;
    justify-content: space-evenly;
    color:white;
  }
  
  .city {
    font-size: 55px;
  }
  .current-weather-image{
    width: 200px;
    height: 200px;
  }
  .cityDetails {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
.currentDate{
  font-size: 30px;
}
  .weatherDescription{
    font-size: 30px;
  }
  .cityDetailsRightSide {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: center; 
  }
  
  .rightSide {
    display: flex;
    font-size: 60px;
    flex-direction: column;
    justify-content: center;
  }
  
// Media Queries ==========>
  
  /* Mobile Devices */
  @media (max-width: 767px) {
    .currentWeather {
      flex-direction: column;
      align-items: center;
    }
  
    .city {
      font-size: 40px;
      text-align: center;
    }
  
    .cityDetails {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }
  
    .cityDetailsRightSide {
      align-items: center;
      text-align: center;
      margin-top: 20px;
    }
  
    .rightSide {
      font-size: 100px;
      text-align: center;
      margin-top: 30px;
    
    }
  }
  


@media (max-width: 767px) {
  .currentWeather {
    flex-direction: column;
    align-items: center;
  }

  .city {
    font-size: 40px;
    text-align: center;
  }

  .currentDate {
    font-size: 20px; 
  }

  .weatherDescription {
    font-size: 25px;
  }

  .cityDetails {
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
  }

  .cityDetailsRightSide {
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }

  .rightSide {
    font-size: 80px; 
    text-align: center;
    margin-top: 20px;
  }

  .current-weather-image {
    width: 150px; 
    height: 150px; 
  }
}

  
