.search {

}

.wrapper {
  width: 450px;
  
  padding: 30px;
}

.wrapper .searchDiv {
  height: 40px;
  width: 100%;

  position: relative;
}

.wrapper .searchDiv .searchInput {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  font-size: 17px;
  background-color:#acd9ff;
  outline: none; /* Remove the border when clicked */
}

.searchDiv .searchInput:focus ~ .searchLabel,
.searchDiv .searchInput:valid ~ .searchLabel {
  transform: translateY(-30px);
  font-size: 16px;
}

.wrapper .searchDiv .searchLabel {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: black;
  pointer-events: none;
  transition: all 0.7s ease;
}

.wrapper .searchDiv .underLine {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}

.searchDiv .underLine:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #296fd9;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.searchDiv .searchInput:focus ~ .underLine:before,
.searchDiv .searchInput:valid ~ .underLine:before {
  transform: scaleX(1);
}

/* Media Queries */
@media only screen and (max-width: 767px) {
  /* Mobile devices */
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  /* Tablet and desktop devices */
  .search {
    display: flex;
    justify-content: flex-end;
  }

  .wrapper {
    width: 450px;
    margin-left: auto;
    margin-right: 50px;
  }
}
